<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BeautyMirror</title>
    <link rel="stylesheet" href="/css/base_grid.css">
    <link rel="stylesheet" href="/css/weather.css">
    <link rel="stylesheet" href="/css/dateNclock.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    <div class="grid">
      <div id="left-top">
          <div id="date"></div>
          <div id="clock"></div>
      </div>
      <div id="center-top">
        <!-- <div id="title">사진 촬영중</div> -->
        <div id="call">
          <br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br>

         <div id="title">사진 촬영중</div>
         <p class="countdown" style="font-size: 50px"></p>
                 
        </div>
      </div>

      <div id="bottom">
        <!-- <p class="countdown"></p> -->
      </div>

      <div id="right-top">
        <div id="weather">
          <h2>Today's weather</h2>
          <div id="TempAndIcon"> <!-- 온도 & 날씨아이콘 -->
            <div id="temp"></div>
            <img src="" alt="" id="icon" width=70px>
          </div>
          <div id="description"></div> <!--날씨 설명-->
        </div>
        </div>
      </div>
      <script src="/script/weather.js" charset="utf-8"></script>
      <script src="/script/calendar.js" charset="utf-8"></script>
      <script src="/script/clock.js" charset="utf-8"></script>

      <script type="text/javascript">
            //카운트 시작 숫자
            var count = 5;
            //카운트다운함수
            var countdown = setInterval(function(){
            //해당 태그에 아래 내용을 출력
            $("p.countdown").html("<b><font color='white' size='100em'>"
            + count + "</font><b><p>초 후 이동 합니다.</p>");
                //0초면 초기화 후 이동되는 사이트
                if (count == 0) {
                    clearInterval(countdown);
                    location.href="http://localhost:8000/analysis";
                    }
                count--;//카운트 감소
            }, 1000);
      </script>

	  </script>
  </body>
</html>
