<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">



<style>
div>div>a{
  color:white;
}
</style>


<link rel="stylesheet" type="text/css" href="/css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/imageNumber.css">
<link rel="stylesheet" type="text/css" href="/css/base_grid.css">
<link rel="stylesheet" href="/css/dateNclock.css">



</head>

<body>

   <div class="second_grid">
     <div id="center-top" style="margin-top:10px;">
       <h4 style="text-align:center;">Your PersonalColor is...</h4>
       <h1 style="text-align:center; color:yellow"><strong>Spring warm light</strong></h1>
     </div>
    <!-- 저거 톤별로 색 다르게 나올수 있으면 좋을텐뎅 -->
      <div id="left-top">
         <div id="date"></div>
         <div id="clock"></div>
      </div>

    <div id="right-top">
      <a href= "http://localhost:8000/">Go to Main Page></a>
    </div>
   </div>

  <h5 style="color:gray; text-align:left">*이미지를 클릭하면 상세페이지로 이동합니다. 브랜드, 가격등을 확인해보세요</h5>
  <img src="./css/Spring_warm_light2/[RMK]인지니어스파우더치크스N_04_페일핑크.PNG" height="300px" width="240px" title="[RMK]인지니어스파우더치크스N_04_페일핑크"/>
  <img src="./css/Spring_warm_light2/[나스]벨벳매트립펜슬_겟오프.PNG" height="300px" width="240px" title="[나스]벨벳매트립펜슬_겟오프"/>
  <img src="./css/Spring_warm_light2/[루나솔]스킨_모델링_아이즈01_베이지베이지.PNG" height="300px" width="240px" title="[루나솔]스킨_모델링_아이즈01_베이지베이지"/>
  <img src="./css/Spring_warm_light2/[에뛰드]룩앳아이즈카페_BR406 진저밀크티.PNG" height="300px" width="240px" title="[에뛰드]룩앳아이즈카페_BR406 진저밀크티"/>
  <img src="./css/Spring_warm_light2/[바비브라운]팟루즈24_freshmelon.PNG" height="300px" width="240px" title="[바비브라운]팟루즈24_freshmelon"/>


   <script src="/script/sendingtest.js" charset="utf-8"></script>
   <script src="/script/calendar.js" charset="utf-8"></script>
   <script src="/script/clock.js" charset="utf-8"></script>

</body>
</html>
