<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">



<style>
div>div>a{
  color:white;
}
</style>


<link rel="stylesheet" type="text/css" href="/css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/imageNumber.css">
<link rel="stylesheet" type="text/css" href="/css/base_grid.css">
<link rel="stylesheet" href="/css/dateNclock.css">



</head>

<body>

   <div class="second_grid">
     <div id="center-top" style="margin-top:10px;">
       <h4 style="text-align:center;">Your PersonalColor is...</h4>
       <h1 style="text-align:center; color:#FFB2D9"><strong>Spring warm bright</strong></h1>
     </div>
    <!-- 저거 톤별로 색 다르게 나올수 있으면 좋을텐뎅 -->
      <div id="left-top">
         <div id="date"></div>
         <div id="clock"></div>
      </div>

    <div id="right-top">
      <a href= "http://localhost:8000/">Go to Main Page></a>
    </div>
   </div>

  <h5 style="color:gray; text-align:left">*이미지를 클릭하면 상세페이지로 이동합니다. 브랜드, 가격등을 확인해보세요</h5>
  <img src="./css/Spring_warm_bright2/[아리따움]모노아이즈 글리터G04_캐시미어.PNG" height="300px" width="240px" title="[아리따움]모노아이즈 글리터G04_캐시미어"/>
  <img src="./css/Spring_warm_bright2/[맥]버시컬러스테인_렛츠스테이투게더.PNG" height="300px" width="240px" title="[맥]버시컬러스테인_렛츠스테이투게더"/>
  <img src="./css/Spring_warm_bright2/[페리페라]잉크더 에어리 벨벳7호_심장폭격.PNG" height="300px" width="240px" title="[페리페라]잉크더 에어리 벨벳7호_심장폭격"/>
  <img src="./css/Spring_warm_bright2/[크리니크]진저팝.PNG" height="300px" width="240px" title="[크리니크]진저팝"/>
  <img src="./css/Spring_warm_bright2/[에뛰드]룩앳마이아이즈 카페_상큼자몽티.PNG" height="300px" width="240px" title="[에뛰드]룩앳마이아이즈 카페_상큼자몽티"/>


   <script src="/script/sendingtest.js" charset="utf-8"></script>
   <script src="/script/calendar.js" charset="utf-8"></script>
   <script src="/script/clock.js" charset="utf-8"></script>

</body>
</html>
