<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">



<style>
div>div>a{
  color:white;
}
</style>


<link rel="stylesheet" type="text/css" href="/css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/imageNumber.css">
<link rel="stylesheet" type="text/css" href="/css/base_grid.css">
<link rel="stylesheet" href="/css/dateNclock.css">



</head>

<body>

   <div class="second_grid">
     <div id="center-top" style="margin-top:10px;">
       <h4 style="text-align:center;">Your PersonalColor is...</h4>
       <h1 style="text-align:center; color:blue"><strong>Summer cool mute</strong></h1>
     </div>
    <!-- 저거 톤별로 색 다르게 나올수 있으면 좋을텐뎅 -->
      <div id="left-top">
         <div id="date"></div>
         <div id="clock"></div>
      </div>

    <div id="right-top">
      <a href= "http://localhost:8000/">Go to Main Page></a>
    </div>
   </div>

  <h5 style="color:gray; text-align:left">*이미지를 클릭하면 상세페이지로 이동합니다. 브랜드, 가격등을 확인해보세요</h5>
  <img src="./css/Summer_cool_mute2/[Urbandecay]naked3.PNG" height="300px" width="240px" title="[Urbandecay]naked3"/>
  <img src="./css/Summer_cool_mute2/[TheSAEM]samuel_smile_bebe_blusher01_RosePink.PNG" height="300px" width="240px" title="[TheSAEM]samuel_smile_bebe_blusher01_RosePink"/>
  <img src="./css/Summer_cool_mute2/[DIOR]Louse_dior060_premiere.PNG" height="300px" width="240px" title="[DIOR]Louse_dior060_premiere"/>
  <img src="./css/Summer_cool_mute2/[NARS]blush_Impassioned.PNG" height="300px" width="240px" title="[NARS]blush_Impassioned"/>
  <img src="./css/Summer_cool_mute2/[NARS]Blush Sin.PNG" height="300px" width="240px" title="[NARS]Blush Sin"/>


   <script src="/script/sendingtest.js" charset="utf-8"></script>
   <script src="/script/calendar.js" charset="utf-8"></script>
   <script src="/script/clock.js" charset="utf-8"></script>

</body>
</html>
